ENR=enr:-IS4QJfrorMW3LPIYurVoNmN4L2E2pEdpS17jogfHLGlng7DSiZ12QE_I_KiefZViri0ar58gcIg5bI-lGVaRrYeQjgBgmlkgnY0gmlwhBKIH16Jc2VjcDI1NmsxoQPKY0yuDUmstAHYpMa2_oxVtw0RW_QAdpzBQA8yWM0xOIN1ZHCCIy0
GETH_NETWORK=goerli
LIGHTHOUSE_NETWORK=prater
OPERATOR_NETWORK=prater
IMAGE_TAG=staging
CONTRACT_ADDRESS=0x93Ec63F53Fd7362CEAb5A70F1c1B1BD5B49eeb81
WS_URL=infura_ws_url
API_SERVER=https://api-testnet.safestake.xyz/v1/collect_performance
# different chain has different ttd
TTD=10790000